.navbar {
  background: #00DCDC
}

.nav-link,
.navbar-brand {
  color: #f4f4f4;
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  background: #f4f4f4;
  color: #0025f9
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #fff !important;
}

/* .bg-dark{background-color:#343a40 !important}
.bg-primary{background-color: #007bff !important} */
/*header style*/
.header {
  background-image: url('../images/headerback.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(163, 23, 163, 0);
}

.description {
  margin: auto;
  padding: 2em;
}

.description h1 {
  color: #ffffff;
}

.description p {
  color: rgb(134, 44, 16);
  font-size: 20px;
  width: 50%;
  line-height: 1.5;
}

.description button {
  border: 1px solid #00DCDC;
  background: #00DCDC;
  color: #fff;
}

.container {
  position: relative; // We are now ready to move the element
  width: 100px;
  height: 90px;
  top: 200px; // 100px from top relative to its old position
  left: 100px; // 100px from left
}

h1.section-header {
  width: 700px;
  margin: 1000 auto;
  text-align: center;
}

.about,
.socials {
  background-image: url('../images/headerback.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0em 0;
  padding: 1em;
  position: relative;
}

.about h1 {
  color: #fff;
  margin: 2em;
}

.about img {
  height: 100%;
  width: 100%;
  border-radius: 50%
}

.about span {
  display: block;
  color: #fff;
  position: absolute;
  left: 115px;
}

.about .desc {
  padding: 2em;
  border-left: 4px solid #10828C;
}

.about .desc h3 {
  color: #10828C;
}

.about .desc p {
  line-height: 2;
  color: #fff;
}

.socials h1 {
  color: #fff;
  margin: 2em;
}

.socials i {
  font-size: 5rem;
}

.portfolio-image {
  height: 400px;
  margin: auto;
  display: block;
}

.image-row {
  margin-top: 30px;
}